<h5>{{title}}</h5>
<div class="row mb-3">
    <div class="col-3">
        <input type="number" 
        class="form-control" 
        placeholder="id"
        [(ngModel)]="id"/>
    </div>
    <div class="col-3">
        <input type="text" 
        class="form-control"
        placeholder="Новое Имя"
        [(ngModel)]="name"/>
    </div>
    <div class="col-3">
        <input type="text"
        class="form-control" 
        placeholder="Новая фамилия"
        [(ngModel)]="surname"/>
    </div>
    <div class="col-3">
        <select class="custom-select" [(ngModel)]="type">
            <option [ngValue]="myWorkerType.programmer">Программист</option>
            <option [ngValue]="myWorkerType.designer">Дизайнер</option>
            <option [ngValue]="myWorkerType.copywriter">Рекламщик</option>
            <option [ngValue]="myWorkerType.manager">Менеджер</option>
        </select>
    </div>
    <div class="col-12 mt-2">
        <button class="btn btn-outline-primary btn-sm" (click)="onAddWorker()">
            Добавить
        </button>
        <button class="btn btn-outline-primary btn-sm ml-2" (click)="onChangeWorker()">
            Изменить
        </button>
    </div>
</div>